/* header.module.css */

/* Container styles */
.nav {


  
    /* background-color: #f8f9fa; */
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */

    /* width: 80px; */
    /* height: 100vh; */
    /* background-color: var(--bgNav); */
    /* border-right: 1px solid rgba(255, 255, 255, 0.04); */
    /* z-index: 999; */
    /* position: fixed; */
    /* top: 0px; */
    /* bottom: 0px; */
    /* left: 0px; */
    /* display: flex; */
    /* -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column; */
    /* gap: 96px; */
    /* padding: 24px 0px 16px; */
    /* backdrop-filter: blur(16px); */
    user-select: none;

    margin: 1rem;
    align-items: center;

    padding: 0.01rem 0.5rem;

        /* border: 1px solid rgba(0, 0, 0, 0.15); */
        border-radius: 0.5rem;

    max-width: 1200px;
    justify-content: center; 
    /* margin: 0 auto; */
    text-align: center;
  }
  
  .container {
    max-width: 1200px;

    /* margin: 0 auto; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* position: fixed; */
    /* margin-top: 2rem; */
    padding: 0.85rem 1rem;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-radius: 0.5rem; */
    z-index: 999;
    display: flex;
    align-items: center;
    text-align: center;
    /* -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px); */
    justify-content: space-between;
  }
  
  /* Logo styles */
  .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .linkDM {
    /* display: inline-block; */
    /* position: relative; */
    font-weight: 500;
    color: #555;
    text-decoration: none;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
    transition: opacity 0.2s;
  }

  .linkDM_M {
    display: inline-block;
    position: relative;
    font-weight: 500;
    color: #555;
    text-decoration: none;
    /* margin-right: 0.75rem; */
    /* margin-bottom: 0.25rem; */
    transition: opacity 0.2s;
  }
  
  /* Navigation links */
  .link {
    /* font-size: 0.875rem; */
    display: inline-block;
    position: relative;
    font-weight: 500;
    color: #555;
    text-decoration: none;
    margin-right: 1.5rem;
    transition: opacity 0.2s;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .link:last-child {
    margin-right: 0;
  }
  
  .link:hover {
    opacity: 0.7;
    color: #2447f6;
  }

  .link-active {
    color: #2447f6;
  }

  .logo {
    /* opacity: 0.29; */
    fill: firebrick;
  }
  
  /* Dashboard button */
  .dashboard {
    /* font-size: 0.875rem; */
    font-weight: 500;
    color: #fff;
    /* background: linear-gradient(#5686FF, #2447f6); */
    /* border: 1px solid #2447f6; */
    /* background-color: #2447f6; */

    background: #2447f6;
    /* background: linear-gradient(#5686FF, #3C12FC); */

    padding: 0.5rem 1rem;
    /* border-radius: 1.5rem; */
    border-radius: 0.5rem;
    text-decoration: none;
    transition: opacity 0.2s;
  }

  .dashboard_M {
    /* font-size: 0.875rem; */
    font-weight: 500;
    /* color: #fff; */
    /* background: linear-gradient(#5686FF, #2447f6); */
    /* border: 1px solid #2447f6; */
    /* background-color: #2447f6; */
    /* padding: 0.5rem 1rem; */
    /* border-radius: 0.5rem; */
    /* text-decoration: none;
    transition: opacity 0.2s; */
    /* margin: 1rem; */
  }
  
  .dashboard:hover {
    opacity: 0.9;
  }

  .logout {
    /* font-size: 0.875rem; */
    font-weight: 500;
    color: #2447f6;
    /* background-color: #000; */
    border: 1px solid #2447f6;
    padding: 0.5rem 1rem;
    /* border-radius: 1.5rem; */
    border-radius: 0.5rem;
    text-decoration: none;
    transition: opacity 0.2s;
    margin: 1rem;
    cursor: pointer;
  }
  
  .logout:hover {
    opacity: 0.9;
  }
  
  /* Responsive adjustments */
@media (max-width: 1024px) {
    .container {
      /* flex-direction: column; 
      align-items: flex-start;  */
      margin-top: 0rem;
    }
  
    .link {
      /* font-size: 0.75rem; */
      /* margin: 0; */
    }
  } 

  @media (max-width: 768px) {
    .container {
      /* flex-direction: column; 
      align-items: flex-start;  */
      margin: 0rem 0rem;
      margin-bottom: 1rem;
    }
  }
  
.burgerIcon {
  font-size: 1.5rem;
}

.burgerIcon:hover {
  opacity: 0.7;
  /* padding: 1rem; */
  /* background-color: #f0f0f0; */
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

.menuTrigger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.menuItem:hover {
  background-color: #f1f1f1;
}


/* .userAvatar {
  margin-right: 0.5rem;
}

.userAvatar img {
  border-radius: 50%;
} */

/* .userInfo {
  display: flex;
  flex-direction: column;
} */

.menu {
  /* position: relative;
  top: 100%; */
  margin-bottom: 19rem;
}

.userName {
  font-weight: 500;
  color: black;
}

.userEmail {
  font-size: 0.8rem;
  font-weight: 400;
  color: #00000080;
}

.userContainer {
  display: flex;
  line-height: 1.15rem;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0.5rem 0.5rem;
  border-radius: 5rem;
  width: fit-content;
  border: 1px solid #0000000b;
  align-items: center; 
}

.userContainer:hover {
  /* background-color: #f6f8ff; */
}

.userContainer:focus {
  /* outline: none; */
  /* box-shadow: 0 0 0 6px #2447f6; */
  /* border: 1px solid #2447f6; */
  border: 10px solid #afc3ff;
}

.userContainer:active {
  border: 1px solid #2447f6;
  /* background-color: #e9f0ff; */
    box-shadow: 0 0 0 5px #eef2ff;
}

.userContainer:hover {
  /* background-color: #f6f8ff; */
  border: 1px solid #dee7ff;
}

.userAvatar {
  margin-right: 10px; 
  border: 1px solid #00000030;
  border-radius: 5rem;
}

.userInfo {
  text-align: left;
}

.character {
  /* font-size: 1.5rem; */
  /* font-weight: 500; */
  /* color: #000000; */
  /* margin: 0; */
  /* padding-bottom: -1rem; */
}